.joinus-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.content-joinus {
  width: 100%;
  margin-left: 0.25%;
  margin-right: 23%;
  display: flex;
  flex-direction: row;
  background: #ffffff;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.left-content {
  width: 30%;
  padding: 25px;
}

.text-section-joinus {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
  color: #07106ce5;
  margin-bottom: 10px; /* Reducir el espacio entre el título y los textos */
}

.first-line {
  display: block;
}

.second-line {
  display: block;
}

.three-texts {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: 75%;
  margin-left: 0;
}

.text-orange,
.text-lila,
.text-purple {
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 20px;
  font-size: 14px;
}

.text-orange {
  background-color: rgb(231, 93, 14);
  color: white;
}

.text-lila {
  background-color: #d8a7f0;
  color: blue;
}

.text-purple {
  background-color: purple;
  color: white;
}

.right-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.rectangles-container {
  display: flex; 
  justify-content: flex-start; 
  gap: 25px; 
  margin-top: 0; 
  padding: 0; 
}

/* Estilo para los rectángulos */
.rectangle {
    display: flex; /* Usamos flexbox para centrar el contenido */
    align-items: center; /* Centra el texto verticalmente */
    justify-content: center; /* Centra el texto horizontalmente */
    text-align: center; /* Asegura que el texto esté centrado */
    background-color: white;
    margin-top: 75px;
    border-radius: 5px;
    width: 225px;
    height: 50px;
    color: white;
    border: 2px solid;
  }
  

.rectangle-1 {
  background-color: white;
  border-color: rgb(231, 93, 14);
  color: rgb(231, 93, 14);
  font-weight: bold;
  font-size: 24px;
}

.rectangle-2 {
  background-color: white;
  border-color: #d8a7f0;
  color: #d8a7f0;
  font-weight: bold;
  font-size: 24px;
}

.rectangle-3 {
  background-color: white;
  border-color: purple;
  color: purple;
  font-weight: bold;
  font-size: 24px;
}

.image-section-joinus {
  display: flex;
  justify-content: center; 
  align-items: flex-end; 
  height: 65%; 
  width: 100%;
  margin-top: 0; /* Eliminar el espacio arriba */
}

.joinus-image {
  width: 100%;
  height: auto;
  justify-content: flex-end;
}
